@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;500;600;700;800&display=swap');

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(220deg, #3E424D 0%, #A7B8CC 100%);
    background-attachment: fixed;
    font-family: 'Sora', sans-serif;
}

/* Media Query do background para telas menores (até 768 pixels) */
@media only screen and (max-width: 768px) {
    body {
        background: linear-gradient(220deg, #3E424D 0%, #A7B8CC 50%, #3E424D 100%);
        background-attachment: fixed;
    }
}

a{
    text-decoration: none;
}

/* estilização do header */
/* ------------------------- */
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.welcome{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    background: #FFF;
}

/* Media Query do header para telas menores (até 768 pixels) */
@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .welcome {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .welcome h2 {
        font-size: 25px; 
        margin-top: 10px; 
        padding-left: 10px; 
    }
}

.logo {
    height: 70px;
    max-width: 100%;
    margin: 0 10px; 
}

.welcome h2{
    margin-top: 20px;
    padding-left: 20px;
}

.welcome a{
    text-decoration: none;
}

/* estilização do botão de logout */
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #ff4141;
}
  
/* ícone do botão de logout */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.material-symbols-outlined {
    color: #FFF;
}

/* efeito em hover no botão de logout */
.Btn:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px #00000033;
}
  
/* efeito do clique no botão de logout */
.Btn:active {
    transform: scale(.95);
    background-color: #c22e2e;
}

/* Media Query do botão de logout para telas menores (até 768 pixels) */
@media only screen and (max-width: 768px) {
    .Btn {
        width: 50px;
        height: 50px;
        margin-top: 7px;
        margin-right: 10px;
    }

    .sign {
        width: 30px;
        height: 30px;
        padding: 12px;
    }

    .material-symbols-outlined {
        font-size: 20px; 
    }
}
/* ------------------------- */

.container {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    padding-top: 100px;
    justify-content: space-evenly;
}

.bloco {
    width: 300px;
    height: auto; 
    margin: 20px 0; 
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 20px 2vw; 
    border-radius: 10px;
    text-align: center;
    background-color: #FFF;
}

/* Media Query dos blocos para telas menores (até 768 pixels) */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .bloco {
        width: 80%; /* Adapte a largura conforme necessário */
        margin: 20px 0;
    }
}

.bloco h1{
    margin-bottom: 10px;
}

.bloco h2{
    margin-top: 0;
    margin-bottom: 25px;
}

/* estilização do botão de cada bloco */
/* ------------------------------------------- */
.bttn{
    display: flex;
    width: 200px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0px;
    transition-duration: .3s;
    background: linear-gradient(180deg, #5C606A 20.33%, #8d97a3 62.07%);
    box-shadow: 0px 4px 5px 1px #00000040;
    color: #ffffff;
    text-align: center;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bttn:hover{
    cursor: pointer;
}

/* efeito de clique no botão de cada bloco */
.bttn:active{
    transform: scale(0.95);
    box-shadow: none;
    background: linear-gradient(180deg, #3c3e44 20.33%, #5C606A 62.07%);
}

.link{
    width: 200px;
    height: 35px;
    margin-bottom: 30px;
}

.bttn_aluno{
    display: flex;
    width: 300px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0px;
    transition-duration: .3s;
    background: linear-gradient(180deg, #5C606A 20.33%, #8d97a3 62.07%);
    box-shadow: 0px 4px 5px 1px #00000040;
    color: #ffffff;
    text-align: center;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link_aluno{
    width: 300px;
    height: 45px;
    margin-bottom: 30px;
}
/* ------------------------------------------- */