@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;500;600;700;800&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(220deg, #3E424D 0%, #A7B8CC 100%);
    background-attachment: fixed;
    font-family: 'Sora', sans-serif;
}

/* estilização do header */
/* ------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.welcome {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    background: #ffffff;
}

.logo {
    height: 70px;
    max-width: 100%;
    margin: 0 10px; 
}

.welcome h2 {
    margin-top: 10px;
    padding-left: 20px;
}

/* Media Query do header para telas menores (até 768 pixels) */
@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .welcome {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .welcome h2 {
        padding-left: 0;
        text-align: center;
    }

    .logo {
        height: 70px;
        max-width: 100%;
        margin: 0 10px;
    }
}
/* ------------------------- */

.container {
    width: 90%; 
    max-width: 650px; 
    margin: 90px auto; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 6px 5px 4px rgba(0, 0, 0, 0.25);
}

form {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    width: 100%; 
    max-width: 500px; 
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    flex-shrink: 0;
    outline: 0;
    border: 0px;
    border-radius: 15px;
    background: #D2D1D1;
    font-family: Sora;
    font-size: 15px;
}

input[type="submit"] {
    width: 100%; 
    max-width: 400px; 
    height: 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 0px;
    transition-duration: .3s;
    background: linear-gradient(180deg, #5C606A 20.33%, #8d97a3 62.07%);
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p {
    margin-top: 25px;
    margin-bottom: 0px;
}

.container a {
    text-decoration: none;
    color: #1F34EB;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .input,
    input[type="submit"] {
        width: 100%;
        max-width: none;
    }
}

.container a{
    text-decoration: none;
    color: #1F34EB;
}