@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;500;600;700;800&display=swap');

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(220deg, #3E424D 0%, #A7B8CC 100%);
    font-family: 'Sora', sans-serif;
}

/* estilização do header */
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.welcome{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    background: #FFF;
}

.logo{
    height: 70px;
}

.welcome h2{
    margin-top: 20px;
    padding-left: 20px;
}

.welcome a{
    text-decoration: none;
}

/* estilização do botão de voltar */
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #4E7FFF;
}
  
/* ícone do botão de voltar */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.sign svg {
    width: 25px;
}
  
.sign svg path {
    fill: #FFF;
}
/* efeito em hover no botão de voltar */
.Btn:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
}
  
/* efeito do clique no botão de voltar */
.Btn:active {
    transform: scale(.95);
    background-color: #305bca;
}