@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;500;600;700;800&display=swap');

body{
    background-color: rgb(129, 144, 158);
    font-family: 'Sora', sans-serif;
}



.container{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    
    
}

.quantidade{
    
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 50px;
    width: 300px;
    height: 180px;
    background-color: #F0F8FF;
}

.bloco{
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 180px;
    background-color:#F0F8FF;
    
}

.quantidade h2{
    padding-top: 20px;
    text-align: center;
    color:black);
}

.coordenadores h2{
    padding-top: 20px;
    text-align: center;
    color: black;
}
.coordenadorees h2{
    padding-top: 20px;
    text-align: center;
    color: black;
}
.meubotao{
    padding: 10px 25px;
    border-radius: 10px;
    background-color: rgb(92, 90, 94);
    
}
.sair{

    position: relative;
    display: flex;
    justify-content: end;/*alinhando no canto superior direito*/
    padding-top: 5px;
    

    
}
.botaosuperior{


    display: inline-block;
    color: aliceblue;
    background-color: brown;
    border-radius: 10px;
    padding: 20px 30px;
    top: 20px;
    position: 20px;
    
}
.titulo {
    margin-top: 50px;

}
